@model List<Product>
<h1> My Cart </h1>
<div class="container-fluid">
    @foreach (Product item in Model)
    {
        <div class="card" style="width:400px">
            <div class="card-header">
                <div class="card-title fw-bold">
                    @item.Name
                </div>
                <p class="card-subtitle">@item.Price lei</p>
                <form action="@Url.Action("CalculateSubtotal", "MyCart", new{id = item.Id})" method="post" class="form-inline">
                    <input type="number" name="quantity" class="form-control" />
                    <button type="submit" class="btn btn-secondary">Calculate Subtotal</button>
                    <p class="fw-bold" style="float:right">Subtotal: @item.Subtotal lei</p>
                </form>
            </div>
            <div class="card-body">
                <img class="card-img" src="@item.ImageUrl" />
            </div>
            <div class="card-footer">
                <a href="@Url.Action("DeleteFromCart", "MyCart", new{id = item.Id})" class="btn btn-outline-secondary">Remove</a>
            </div>
        </div>
    }
    <div class="card bg-warning" style="width:400px">
        <div class="card-body">
            <h2 style="color:darkred">Total: @MyCartPage.Total lei</h2>
            <a href="@Url.Action("Checkout", "MyCart")" class="btn btn-success">Proceed to checkout</a>
        </div>
    </div>
</div>
