@model List<Drink>
<div class="d-flex align-content-around flex-wrap">
    @foreach (Drink item in Model)
    {
        <div class="card" style="width:600px">
            <div class="card-header">
                <h4 class="card-title text-uppercase">
                    @item.Name
                </h4>
                <h6 class="card-subtitle">@item.Price lei</h6>
            </div>
            <div class="card-body">
                <div class="card text">
                    <p class="fst-italic">@item.Description</p>
                </div>
                <img class="card-img" src="@item.ImageUrl" height="400" />
            </div>
            <div class="card-footer">
                <a href="@Url.Action("AddToCart", "DrinkPage", new{Id = item.Id})" class="btn btn-success">Add to cart</a>
            </div>
        </div>
    }
</div>
